<form action="/" method="post">
<div class="input-group mb-3">
  
  <input type="text" class="form-control" name="cryptoAddress">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">Submit</button>
  </div>
</div>
</form>
