    <%- include('../partials/headbs5'); %>

    <%- include('../partials/headerbs5'); %>
    
   

    <div class="overflow-y-auto align-items-start"> 
   
   

    <div class="container-fluid">
         <!-- Top Row -->
         <div class="row align-items-center border-top px-3 pt-2">
          <!-- Left Column -->
          <div class="col text-start">
            <p>Cardano</p>  
          </div>
          <!-- Right Column -->
          <div class="col text-end">
            <button type="button" class="btn mt-0 me-0" title="Copy to clipboard" onclick="copyAddress()">
              <svg class="bi" aria-hidden="true"><use xlink:href="../js/copy.svg#copy"/></svg>
            </button>
            
          </div>
        </div>
        <!-- Bottom Row -->
        <div class="row mt-0 mb-3 border-bottom ps-3 overflow-x-auto">
          <div class="col">
            <p id="myInput">addr1wysmmrpwphe0h6fpxlmcmw46frmzxz89yvpsf8cdv29kcnqsw3vw6</p>
            
          </div>
        </div>
      </div>

    
      <script>
        function copyAddress() {
          // Get the paragraph element
          let address = document.getElementById("myInput");
          
          // Copy the text inside the paragraph to the clipboard
          navigator.clipboard.writeText(address.textContent).then(() => {
            alert("Address copied to clipboard: " + address.textContent);
          }).catch(err => {
            console.error("Failed to copy text: ", err);
          });
        }
      </script>
      

    </div>


    <%- include('../partials/footer'); %>
