    <%- include('../partials/headbs5'); %>

    <%- include('../partials/headerbs5'); %>
    <div class="border"> 
    <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom">
      <small class="font-monospace text-body-secondary text-uppercase">html</small>
      <div class="d-flex ms-auto">
        <button type="button" class="btn-edit text-nowrap" title="Try it on StackBlitz">
          <svg class="bi" aria-hidden="true"><use xlink:href="#lightning-charge-fill"/></svg>
        </button>
        <button type="button" class="btn-clipboard mt-0 me-0" title="Copy to clipboard">
          <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"/></svg>
        </button>
      </div>
    </div>
    <div class="container-fluid border">
      <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom m-3">
        Cardano
        <div class="d-flex ms-auto">
        <button type="button" class="btn-clipboard mt-0 me-0" title="Copy to clipboard">
          
          <img src="../js/copy.svg" alt="copy" width="16" height="16">
        </button>
        </div>
      </div>
      <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom m-3 overflow-x-auto">
        addr1wysmmrpwphe0h6fpxlmcmw46frmzxz89yvpsf8cdv29kcnqsw3vw6
      </div>
    </div>
    
    <div class="d-flex flex-column mb-3">
    <div class="d-flex mb-3">
      <div class="px-4 py-2 border-top">
        Cardano
        
      </div>
      <div class="d-flex ms-auto">
        <button type="button" class="btn mt-0 me-0" title="Copy to clipboard">
          
          <img src="../js/copy.svg" alt="copy" width="16" height="16">
        </button>
      </div>
      <div class="d-flex mb-3">

      <div class="px-4 py-2 border-bottom overflow-x-auto">
        addr1wysmmrpwphe0h6fpxlmcmw46frmzxz89yvpsf8cdv29kcnqsw3vw6
      </div>
      </div>
    </div>
    </div>
   
    <div class="container-fluid">
      <!-- Top Row -->
      <div class="row align-items-center border-top px-3 pt-2">
        <!-- Left Column -->
        <div class="col text-start">
          <p>Cardano</p>  
        </div>
        <!-- Right Column -->
        <div class="col text-end">
          <button type="button" class="btn" title="Copy to clipboard">
            <svg class="bi" aria-hidden="true"><use xlink:href="../js/copy.svg#copy"/></svg>
          </button>
          
        </div>
      </div>
      <!-- Bottom Row -->
      <div class="row mt-0 border-bottom ps-3 overflow-x-auto">
        <div class="col">
          <p>addr1wysmmrpwphe0h6fpxlmcmw46frmzxz89yvpsf8cdv29kcnqsw3vw6</p>
        </div>
      </div>
    </div>

    <div class="bd-example-snippet bd-code-snippet">
        <div class="bd-example m-0 border-0">
          
      <!-- As a link -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
        </div>
      </nav>
      
      <!-- As a heading -->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Navbar</span>
        </div>
      </nav>
      
        </div><div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0 border-top border-bottom">
              <small class="font-monospace text-body-secondary text-uppercase">html</small>
              <div class="d-flex ms-auto">
                <button type="button" class="btn-edit text-nowrap" title="Try it on StackBlitz">
                  <svg class="bi" aria-hidden="true"><use xlink:href="#lightning-charge-fill"/></svg>
                </button>
                <button type="button" class="btn-clipboard mt-0 me-0" title="Copy to clipboard">
                  <svg class="bi" aria-hidden="true"><use xlink:href="#clipboard"/></svg>
                </button>
              </div>
            </div><div class="highlight"><pre tabindex="0" class="chroma"><code class="language-html" data-lang="html"><span class="line"><span class="cl"><span class="c">&lt;!-- As a link --&gt;</span>
      </span></span><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">nav</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;navbar bg-body-tertiary&#34;</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl">  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;container-fluid&#34;</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;navbar-brand&#34;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#34;#&#34;</span><span class="p">&gt;</span>Navbar<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl">  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl"><span class="p">&lt;/</span><span class="nt">nav</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl">
      </span></span><span class="line"><span class="cl"><span class="c">&lt;!-- As a heading --&gt;</span>
      </span></span><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">nav</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;navbar bg-body-tertiary&#34;</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl">  <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;container-fluid&#34;</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl">    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;navbar-brand mb-0 h1&#34;</span><span class="p">&gt;</span>Navbar<span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl">  <span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
      </span></span><span class="line"><span class="cl"><span class="p">&lt;/</span><span class="nt">nav</span><span class="p">&gt;</span></span></span></code></pre></div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
